PORT=5000
MONGODB_URI=mongodb://localhost:27017/gaming-platform
JWT_SECRET=your_secret_key_here_change_in_production
ADMIN_EMAIL=admin@gaming.com
ADMIN_PASSWORD=admin123
NODE_ENV=development
PAYMENT_GATEWAY=bkash
BKASH_NUMBER=01700000000
